*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Creating Font Family */
@font-face {
    font-family:circular-black;
    src: url(../assets/fonts/Circular/CircularStd-Black.otf);
}
@font-face {
    font-family:circular-bold;
    src: url(../assets/fonts/Circular/CircularStd-Bold.otf);
}
@font-face {
    font-family:circular-book;
    src: url(../assets/fonts/Circular/CircularStd-Book.otf);
}
@font-face {
    font-family:circular-light;
    src: url(../assets/fonts/Circular/CircularStd-Light.otf);
}
@font-face {
    font-family:circular-medium;
    src: url(../assets/fonts/Circular/CircularStd-Medium.otf);
}

// created mixing to use displayf flex. 
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// CODE STARTS HERE
body{
    font-family:circular-bold;
    @include flex();
    background-color:#121212;
    overflow-x: hidden;
}

.leftcontent{
    width: 12.8%;
    height:88vh;
    background-color: black;
    position: sticky;
    top: 0;
    
    .brand{
        width: 90%;
        margin: 24.2px 0;
        margin-left:10%;
        padding: 0;
        
        a{
            svg{
                width:118px;
                color: white;
            }
        }
    }
    
    ul{
        width:89%;
        height:47vh;
        margin-left: 10%;
        margin-top:10%;
        
        .home{
            span{
                color: white;
            }
        }

        li{
            width: 100%;
            height:30px;
            color:rgb(179,179 ,179);
            list-style-type: none;
            margin:17px 0;
            font-size: 12px;
            
            a{
                text-decoration: none;
                color: rgb(179,179 ,179);
            }

            i{
                font-size: 20px;
            }
            
            i:hover,span:hover{
                color: white;
            }

            span{
                padding-left:13px;
            }
        }
    }

    .create{
        margin-top:35px;
    }
    
    .links{
        width: 90%;
        margin-left: 10%;
        position: absolute;
        bottom: 0;

        a{
            color: rgb(179,179 ,179);
            text-decoration: none;
            font-size:10px;
            display: block;
            margin: 10px 0;
            font-family: circular-light;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}
// Left Content Ends Here

// Right Content Starts Here
.rightcontent{
    width:87.2%;
    @include flex();
    
    .login-header{
        width:100%;
        height:64px;
        background-color:#090909;
        position: sticky;
        top:0;
        z-index: 1000;
        
        .content{
            width: 96%;
            height: 100%;
            margin: 0 auto;
            @include flex();
            
            .left{
                width: 50%;
                margin: auto 0;
                
                button{
                    width:30px;
                    height:30px;
                    background: none;
                    border: none;
                    background-color:#050505;
                    border-radius: 100%;
                    border-color: none;
                    cursor:pointer;
                    font-family:circular-light;
                    margin: auto 6px;
                    
                    span{
                        color: rgb(139, 139, 139);
                        font-size: 30px;
                        font-weight: 100;
                    }
                }
            }
            
            .right{
                width: 50%;
                margin: auto 0;
                text-align: right;

                button{
                    width:110px;
                    height:48px;
                    margin: auto 0;
                    border-radius:30px;
                    font-family:circular-bold;
                    border: none;
                    
                    a{
                        text-decoration: none;
                        font-size:16px;
                        color: black;
                        font-weight:700;
                    }
                }
                
                button:hover{
                    transform: scale(1.05);
                }

                .btn1{
                    background: none;
                    a{
                        color:#a7a7a7;
                    }
                }

                .btn1:hover{
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    
    .playlist{
      margin-top: 36px;
    }

    .mood{
        margin-bottom: 170px;
    }

    // Custome Class To show/hide card on width change
    .customclassadd{
        display: none;
    }
    
    .playlist, .focus, .mood{
        width: 100%;
        @include flex();
        background-color:#121212;
        margin-top:10px;
        
        .content{
            width: 96%;
            margin: 0 auto;
            @include flex();
            
            .title{
                width: 100%;
                height: 65px;
                @include flex();
                justify-content: space-around;
                margin: auto 0;
                
                .left{
                    width:50%;
                    margin: auto 0;
                    h1{
                        color: white;
                        font-size: 22px;
                        font-weight:800;
                    }
                }

                .right{
                    width:50%;
                    text-align: right;
                    margin: auto 0;
                    
                    button{
                       font-family:circular-bold;
                       color: #B3B3B3;
                       background: none;
                       border: none;
                    }

                    button:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            
            .cards-sec{
                width: 100%;
                @include flex();
                
                .card{
                    width: 11.5%;
                    border-radius:8px;
                    text-align: center;
                    background-color: #181818;
                    position: relative;
                    margin: 20px 0;
                    
                    img{
                        width:82%;
                        border-radius:8px;
                        margin: 20px auto;
                    }

                    button{
                        width:48px;
                        height:48px;
                        border-radius: 50%;
                        border: none;
                        background-color:#4CD251;
                        opacity:0.9;
                        position: absolute;
                        top: 50%;
                        left:60%;
                        transition-duration: 0.1s;
                        visibility: hidden;
                    }

                    button:hover{
                        transform: scale(1.05);
                        transition: 0.4s;
                    }

                    a{
                        text-decoration: none;
                        color: white;
                        
                        h4{
                            width: 80%;
                            margin:0 auto 5px auto;
                            text-align: left;
                            font-size:16px;
                        }
                    }
                    
                    p{
                        width: 80%;
                        color:#A7A7A7;
                        font-size:13px;
                        text-align: left;
                        margin:0 auto;
                        line-height:22px;
                    }
                }
                
                .card:hover{
                     background-color: #282828;
                     transition: 0.7s;

                    button{
                        visibility: visible;
                        transform: translateY(-20px);
                        transition:0.2s;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: 12vh;
    background-color: #181818;
    position: fixed;
    bottom:0;
    
    .content{
        width:50%;
        margin: 0 auto;
        @include flex();
        justify-content: space-evenly;
        
        .box-1{
            width: 100%;
            margin: 0 auto;
            text-align: center;

            i{
                margin: 20px 16px;
                color: #5E5E5E;
             }
        }
        
        .box-2{
            width: 100%;
            text-align: center;

            h4,hr{
                display:inline-block;
                color:#5E5E5E;
            }

            hr{
                width:60%;
                text-align: center;
                background-color: #5E5E5E;
                height: 4px;
                border: 1px;
            }
        }
        
        .right{
            width:40%;
            
            svg{
                color: black;
            }
        }
    }
}

// Custom Boxes for Leftcontent
.createplaylistbox, .likedsongsbox{
    width:322px;
    height:160px;
    background-color: #0D72EA;
    border-radius: 10px;
    color: white;
    @include flex();
    position: fixed;
    top:245px;
    left:170px;
    z-index: 1000;
    display: none;
    
    .up{
        width: 90%;
        text-align: left;
        margin: 0 auto;

        h3{
            margin-top: 10px;
        }

        p{
            font-size:15px;
            font-family:'circular-light';
            font-weight: 100;
            margin-top: 10px;
        }
    }

    .down{
        width: 100%;
        text-align: right;

        button{
            width:110px;
            height:48px;
            margin: auto 0;
            border-radius:30px;
            font-family:circular-bold;
            border: none;
            cursor: pointer;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .notbutton{
           background: none;
            color: white;
        }
    }
}

.likedsongsbox{
    position: absolute;
    top: 300px;
    left: 250px;
}


// Mediq Query Starts Here
@media (max-width:1700px){
    
    .leftcontent{
        width: 14%;

        .brand{
            a{
                svg{
                    width:130px;
                }
            }
        }
    }

    .rightcontent{
        width: 86%;
        .playlist, .focus, .mood{
            .content{
                .cards-sec{
                    .card{
                        width: 16%;
                    }
                }
            }
        }
    }
}


@media (max-width:1600px){
    .leftcontent{
        width: 16%;
    }

    .rightcontent{
        width: 84%;
        
        .playlist, .focus, .mood{
            .content{
                .cards-sec{
                    
                    .card{
                        width:15%;
                    }
                }
            }
        }
    }
}

@media (max-width:1510px) {
    .rightcontent{
        .playlist, .focus, .mood{
            .content{
                .cards-sec{
                    .card{
                        width:18.5%;
                    }
                }
            }
        }
    }
}

@media (max-width:1300px){
    .leftcontent{
        width:19%;
    }

    .rightcontent{
        width:81%;
        .playlist, .focus, .mood{
            .content{
                .cards-sec{
                    .card{
                        width:23%;
                    }
                }
            }
        }
    }
}
@media (max-width:1080px){
    .leftcontent{
        width:23%;
    }

    .rightcontent{
        width:77%;
        .playlist, .focus, .mood{
            .content{
                width:92%;
            }
        }
    }
}

@media (max-width:978px){
    .leftcontent{
        width:25%;
    }

    .rightcontent{
        width:75%;
        .playlist, .focus, .mood{
            .content{
                width:96%;
                .cards-sec{
                    .card{
                        width:32%;
                    }
                }
            }
        }
    }
}

@media (max-width:778px){
    .leftcontent{
        width:32%;
    }

    .rightcontent{
        width:68%;
        .playlist, .focus, .mood{
            .content{
                width:92%;
                .cards-sec{
                    .card{
                        width:49%;
                    }
                }
            }
        }
    }
}

@media (max-width:763px) {
    .leftcontent{
        width:40%;
    }

    .rightcontent{
        width:60%;

        .login-header{
            .content{
                .left{
                    width: 30%;
                }

                .right{
                    width:70%;

                    button{
                        width: 80px;
                        height: 40px;
                    }
                }
            }
        }

        .playlist, .focus, .mood{
            .content{
                width: 90%;
                .cards-sec{
                    .card{
                        width:47%;
                    }
                }
            }
        }
    }
}


@media (max-width:650px) {
    
    .rightcontent{
        .playlist, .focus, .mood{
            .content{
                width: 90%;
                .cards-sec{
                    .card{
                        width:90%;
                    }
                }
            }
        }
    }

    footer{
        .content{
            width: 100%;
        }
    }
}


@media (max-width:500px) {

    .rightcontent{
        .login-header{
            .content{
                .left{
                    width:25%;

                    button{
                        width: 20px;
                        height: 10px;
                        margin: auto 0;

                        span{
                            font-size:20px;
                        }
                    }
                }

                .right{
                    width:75%;

                    button{
                        width:60px;
                        height:30px;
                        border-radius:16px;

                        a{
                            font-size:13px;
                        }
                    }
                }
            }
        }

        .playlist, .mood, .focus{
            .content{
                .title{
                    .left{
                        width: 70%;
                        h1{
                            font-size:15px;
                        }
                    }

                    .right{
                        width: 30%;
                        button{
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
}
// CODE ENDS HERE